*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --orange: rgb(227, 227, 5);
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
    overflow: hidden;
    
}
h1 {
    font-size: 54px;
    text-transform: uppercase;
    padding: 10px;
}

.container {
    padding: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(34, 4, 41) 0%, rgb(0, 0, 0) 90% );        background-size: 200% 100%;
  animation: moveGradient 10s linear infinite;
}
  @keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 
button {
    margin:auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.foot{
    font-size: 15PX;
    padding: 40PX;
    text-decoration: none;
    color: purple;
}
a{
    font-size: 10PX;
    padding: 40PX;
    text-decoration: none;
    color: purple;
    text-align: center;
}

.foot:hover{
    cursor: pointer;
    transform: translateY(-2px);
  }
